<h2 align="center">Welcome to <%= @user.username %>'s page </h2>
<div class="row">
  <div class="col-md-4 col-md-offset-2 centre">
    <%= gravatar_for @user, size: 130 %>
  </div>
</div>
<h4 align="center"><%= @user.username %>'s articles</h4>
<%= render 'articles/articles', obj: @user_articles %>
<div align="center">
  <%= will_paginate @user_articles %>
</div>